@import "variables";
@mixin tamano ($width, $height) {
    height: $height;
    width: $width;
    
}
$letras_color: rgb(255, 0, 0);

@keyframes animacionlogo{
    0% {
        opacity: 0%;
    }
    25% {
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75% {
        opacity: 75%;
    }
    100% {
        opacity: 100%;
    }
}
.logo{
    
    width: 150px;
    flex: 100px;
    animation-name: animacionlogo;
    animation-duration: 5s;
        
}

.fondo{
 
    background-color: black;
    background-image:url(../multimedia/fondo.webp);
    background-size: cover;
       .menu{ 
            .menu__listasecciones{
                    grid-template-columns: 1fr;
                    grid-template-areas: 
                    "header"
                    "main"
                    "footer"
                    ;
                
                        li{
                        padding: 0px;
                        font-size: 20px;
                        display: inline;
                        margin-left: 100px;
                        padding: 20px;
           
                        }
                    }
            }
        




.logo{
    @extend .logo
}






    .titulo{
        color:$letras_color;
        margin-left: 270px;
        font-family: Arial, Helvetica, sans-serif;
        border: solid 2px;
        width: 130px;
        background-color: green;
        .titulo__nombrevideo{
            color:(255, 0, 0);
            margin-left: 250px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            #descripcionDelvideo{
                color:$letras_color;
            }     
        }
        
    }

    #videoDelpentagono{
        
        color:$letras_color ;
        margin-left: 250px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        #pentagonoDescripcion{
            color: $letras_color;
        
        }
    } 
    #Lachicadelacarretera{
        color: $letras_color;
        margin-left: 250px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        #descripcionlachica{
            color: $letras_color;
        }
    }

    .losmasvistos{
        @include tamano(200px,200px)
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 1000px;
        margin-top: -1000px;
        color:$letras_color;
    
    }
    .pagination{
        
        display: flex;
        align-items: flex-end;
        padding-top: 100px;

    }
    .pie{
        
        .pie__piedepagina{
            
            background-color: map-get( $redes, twitter);
            list-style-type: none;
            text-align: center;
            color: white;
        }
    }
}

