
















/*
.nosotrostitulo__texto{
    color: red;
    
}

#enlacesnosotros li{
    
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
}

#nosotrosback{
    display: grid;
    background-image:url(../multimedia/Fog-Nature-HD-Desktop-Wallpaper-113878.jpg)
    
}

.nosotrostitulo__texto{
    text-align: justify;
    text-align: center;
    font-size: larger;
    
    
}

.nosotrostitulo{
    color: red;
    text-align: center;
}

#footnos li{
    color: white;
}
#fondoimagenes{
    background-image: url(../multimedia/wooden-diagonal-texture-macro-black-wooden-background-wooden-backgrounds-wood-textures-besthqwallpapers.com-1920x1080.jpg);
}

#menudeimagenes li{
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
}

#titulodeimagenes{
    color: red;
    
}

#descimagen{
    color: red;
}

#primerimagen{
    width: 300px;
}

#roswell{
    width: 300px;
}

#desccaso{
    color: red;
}

#footima{
    color: white;
}

#fondoescribinos{
    background-color: black;
    background-image: linear-gradient(to bottom, black, red, grey);
}

#menuescri li{
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
    
}

.escen{
    text-decoration: none;
}

#tituloesc{
    color: red;
}

#envianos{
    color: red;
}

#footesc{
    color: white;
}

#cuentosback{
    background-image: url(../multimedia/wallpaperbetter.jpg);
}

#menucuentos li{
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
}

#titulocuentos{
    color: red;
    margin-top: 100px;
}

#cuento{
    color: white;
    margin-right: 1500px;
}

#piecuentos{
    color: white;
}


    .enlacesnosotros{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
        }
    
    .fondo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: 
                "header"
                "main"
                "footer";
    }/*

    
    


    