.menu__listasecciones li{
    
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
       
}


.enlaces{
    text-decoration: none;  
    padding: 10px;
    
}

.titulo{
    color:red;
    margin-left: 270px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px;
    width: 105px;
    background-color: green;
}

.titulo__nombrevideo{
    color: red;
    margin-left: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


#descripcionDelvideo{
    color: red;
}

#separacionDevideo{
    border-color: red;
}
.pie__piedepagina{
    list-style-type: none;
    text-align: center;
    color: white;
}

.fondo{
    background-color: black;
    background-image:url(../multimedia/fondo.webp);
    background-size: cover;
}

#videoDelpentagono{
    
    color: red;
    margin-left: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#pentagonoDescripcion{
    color: red

}

.nosotrostitulo__texto{
    color: red;
    
}

#enlacesnosotros li{
    
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
}

#nosotrosback{
    background-image:url(../multimedia/Fog-Nature-HD-Desktop-Wallpaper-113878.jpg)
}

.nosotrostitulo__texto{
    text-align: justify;
    text-align: center;
    
    
}

.nosotrostitulo{
    color: red;
    text-align: center;
}

#footnos li{
    color: white;
}
#fondoimagenes{
    background-image: url(../multimedia/wooden-diagonal-texture-macro-black-wooden-background-wooden-backgrounds-wood-textures-besthqwallpapers.com-1920x1080.jpg);
}

#menudeimagenes li{
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
}

#titulodeimagenes{
    color: red;
    
}

#descimagen{
    color: red;
}

#primerimagen{
    width: 300px;
}

#roswell{
    width: 300px;
}

#desccaso{
    color: red;
}

#footima{
    color: white;
}

#fondoescribinos{
    background-color: black;
    background-image: linear-gradient(to bottom, black, red, grey);
}

#menuescri li{
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
    
}

.escen{
    text-decoration: none;
}

#tituloesc{
    color: red;
}

#envianos{
    color: red;
}

#footesc{
    color: white;
}

#cuentosback{
    background-image: url(../multimedia/wallpaperbetter.jpg);
}

#menucuentos li{
    padding: 0px;
    font-size: 20px;
    display: inline;
    margin-left: 100px;
    padding: 20px;
}

#titulocuentos{
    color: red;
    margin-top: 100px;
}

#cuento{
    color: white;
    margin-right: 1500px;
}

#piecuentos{
    color: white;
}

@media  screen and (max-width:500px) {
    .menu__listasecciones{
            grid-template-columns: 1fr;
            grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
        }
    .enlacesnosotros{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
        
    }
    
    }