@keyframes animacionlogo {
  0% {
    opacity: 0%; }
  10% {
    opacity: 10%; }
  20% {
    opacity: 20%; }
  30% {
    opacity: 30%; }
  40% {
    opacity: 40%; }
  50% {
    opacity: 50%; }
  60% {
    opacity: 60%; }
  70% {
    opacity: 70%; }
  80% {
    opacity: 80%; }
  90% {
    opacity: 90%; }
  100% {
    opacity: 100%; } }

/*Index(Videos)*/
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.fondo {
  background: no-repeat center fixed;
  background-color: black;
  background-size: cover;
  overflow-x: hidden;
  max-width: 5000px;
  height: 2700px;
  overflow-y: hidden; }
  .fondo .menu {
    flex-wrap: wrap;
    position: relative;
    bottom: 1px; }
  .fondo .menu__listasecciones {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    background-image: url(../multimedia/fondoestrellas.jpg);
    background-size: cover; }
  .fondo .logo {
    width: 150px;
    height: 150px;
    margin-right: auto;
    clip-path: circle();
    animation-name: animacionlogo;
    animation-duration: 1s; }
  .fondo .enlaces {
    flex-wrap: wrap;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    text-decoration: none;
    padding: 100px;
    top: 50px;
    position: relative; }

.enlaces:hover {
  color: yellow; }

.secciondevideos .secciondevideos__titulo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding-left: 500px;
  position: relative;
  right: 250px; }

.secciondevideos .titulo__nombrevideo {
  position: relative;
  right: 70px;
  bottom: 270px;
  margin-top: 300px;
  padding-left: 250px;
  color: red; }

.secciondevideos #descripcionDelvideo {
  position: relative;
  right: 100px;
  bottom: 400px;
  margin-top: 50px;
  padding: 100px;
  color: crimson; }

.secciondevideos .iframevideo {
  position: relative;
  bottom: 450px;
  padding-left: 25px;
  margin-top: 0px; }

.segundovideo #segundovideo__videoDelpentagono {
  position: relative;
  bottom: 430px;
  left: 170px;
  color: red; }

.segundovideo #pentagonoDescripcion {
  position: relative;
  left: 1px;
  bottom: 415px;
  color: crimson; }

.segundovideo .videopenta {
  position: relative;
  bottom: 350px;
  padding-left: 25px;
  margin-top: 0px; }

.ultimovideo #Lachicadelacarretera {
  position: relative;
  bottom: 320px;
  left: 190px;
  color: red; }

.ultimovideo #descripcionlachica {
  position: relative;
  position: relative;
  bottom: 300px;
  left: 1px;
  color: crimson; }

.ultimovideo .videochica {
  position: relative;
  bottom: 300px;
  padding-left: 25px;
  margin-top: 0px; }

.losmasvistos {
  position: relative;
  bottom: 2360px;
  left: 1400px; }
  .losmasvistos .losmasvistos__titulo {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    left: 100px; }
  .losmasvistos .uno {
    position: relative;
    top: 100px;
    right: 400px;
    right: 300px; }
  .losmasvistos .dos {
    position: relative;
    top: 220px;
    right: 300px; }
  .losmasvistos .tres {
    position: relative;
    top: 300px;
    right: 300px; }
  .losmasvistos .primero {
    color: red;
    position: relative;
    top: 50px;
    font-size: 30px;
    right: 300px; }
  .losmasvistos .segundo {
    color: red;
    position: relative;
    top: 185px;
    font-size: 30px;
    right: 300px; }
  .losmasvistos .tercero {
    color: red;
    font-size: 30px;
    position: relative;
    top: 290px;
    right: 300px; }

.pieredesindex {
  text-align: center;
  position: relative;
  bottom: 1731px; }

.pieredes {
  text-align: center;
  position: relative;
  bottom: 1300px; }

.sociales-wrapper {
  text-align: center; }

.sociales-wrapper ul li {
  display: inline;
  margin: 0 5px; }

.twitter-icon,
.facebook-icon,
.instagram-icon {
  position: relative;
  bottom: 30px;
  margin-top: .625em;
  width: 40px;
  height: 40px;
  opacity: .6;
  filter: alpha(opacity=60);
  border-radius: 25px; }

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); }

.barra {
  font-size: 30px;
  position: relative;
  bottom: 180px;
  right: 500px;
  color: red; }
  .barra .boton {
    text-decoration: none;
    position: relative;
    right: 30px; }

/*fin index(Videos)/*
/*Cuentos*/
#cuentosback {
  background: no-repeat center fixed;
  background-color: black;
  background-size: cover;
  overflow-x: hidden;
  max-width: 5000px;
  height: 1936px;
  overflow-y: hidden; }
  #cuentosback .menucuentos {
    padding-top: 10px;
    position: relative;
    bottom: 66px; }
    #cuentosback .menucuentos .botonera {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      list-style: none;
      display: flex;
      background-image: url(../multimedia/fondoestrellas.jpg);
      background-size: cover;
      position: relative;
      top: 40px; }
      #cuentosback .menucuentos .botonera .logocuentos {
        width: 150px;
        height: 150px;
        margin-right: auto;
        clip-path: circle();
        animation-name: animacionlogo;
        animation-duration: 1s; }
      #cuentosback .menucuentos .botonera .enlacuento {
        flex-wrap: wrap;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: red;
        text-decoration: none;
        padding: 100px;
        top: 50px;
        position: relative; }
      #cuentosback .menucuentos .botonera .enlacuento:hover {
        color: yellow; }
  #cuentosback #titulocuentos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-left: 500px;
    position: relative;
    right: 300px; }
  #cuentosback .yoduloso {
    color: red;
    font-size: larger;
    position: relative;
    left: 50px; }
  #cuentosback .cuento {
    width: 500px;
    padding: 60px;
    margin: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: green; }
  #cuentosback .manitou {
    color: red;
    font-size: larger;
    position: relative;
    left: 50px; }
  #cuentosback .cuento2 {
    width: 500px;
    padding: 60px;
    margin: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: green; }
  #cuentosback .quienapago {
    color: red;
    font-size: larger;
    position: relative;
    left: 50px; }
  #cuentosback .cuento3 {
    width: 500px;
    padding: 60px;
    margin: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: green; }
  #cuentosback .losmasleidos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    left: 1400px;
    bottom: 1269px;
    font-size: 32px; }
  #cuentosback .lamanotitulo {
    color: red;
    font-size: larger;
    position: relative;
    left: 1250px;
    bottom: 1278px; }
  #cuentosback .masleidosuno {
    width: 500px;
    padding: 60px;
    margin: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: green;
    position: relative;
    left: 1200px;
    bottom: 1375px; }
  #cuentosback .anillostitulo {
    color: red;
    font-size: larger;
    position: relative;
    bottom: 1261px;
    left: 1250px; }
  #cuentosback .masleidosdos {
    width: 500px;
    padding: 60px;
    margin: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: green;
    position: relative;
    bottom: 1345px;
    left: 1200px; }
  #cuentosback .sitiotitulo {
    color: red;
    font-size: larger;
    position: relative;
    bottom: 1400px;
    left: 1250px; }
  #cuentosback .masleidostres {
    width: 500px;
    padding: 60px;
    margin: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: green;
    position: relative;
    bottom: 1462px;
    left: 1200px; }
  #cuentosback .pagination {
    font-size: 30px;
    position: relative;
    bottom: 2300px;
    left: 100px;
    display: inline-block; }
    #cuentosback .pagination .pieredes {
      text-align: center;
      position: relative;
      bottom: 1300px; }
      #cuentosback .pagination .pieredes .barra .pagnumero {
        text-decoration: none;
        position: relative;
        bottom: -280px;
        right: 30px;
        line-height: 100px; }
    #cuentosback .pagination .sociales-wrapper {
      text-align: center;
      position: relative;
      top: 480px; }
      #cuentosback .pagination .sociales-wrapper .cuentoredes {
        position: sticky;
        background-color: #838383;
        text-align: center;
        margin: 10px 0;
        padding: 10px 0; }
      #cuentosback .pagination .sociales-wrapper .cuentossociales {
        text-align: center; }
      #cuentosback .pagination .sociales-wrapper .cuentossociales {
        text-align: center; }
      #cuentosback .pagination .sociales-wrapper .cuentossociales ul li {
        display: inline;
        margin: 0 5px; }
      #cuentosback .pagination .sociales-wrapper .twitter-icon,
      #cuentosback .pagination .sociales-wrapper .facebook-icon,
      #cuentosback .pagination .sociales-wrapper .instagram-icon {
        position: relative;
        bottom: 30px;
        margin-top: .625em;
        width: 40px;
        height: 40px;
        opacity: .6;
        filter: alpha(opacity=60);
        border-radius: 25px; }
      #cuentosback .pagination .sociales-wrapper .twitter-icon:hover,
      #cuentosback .pagination .sociales-wrapper .facebook-icon:hover,
      #cuentosback .pagination .sociales-wrapper .instagram-icon:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); }

/*fincuentos*/
/*Imagenes*/
.fondoimagenes {
  background-color: black;
  height: max-content;
  max-height: 2000px;
  overflow-y: hidden; }
  .fondoimagenes .menuima {
    position: relative;
    bottom: 16px; }
    .fondoimagenes .menuima #menudeimagenes {
      list-style: none;
      display: flex;
      background-image: url(../multimedia/fondoestrellas.jpg);
      background-size: cover; }
    .fondoimagenes .menuima .logoimagenes {
      width: 150px;
      height: 150px;
      margin-right: auto;
      clip-path: circle();
      animation-name: animacionlogo;
      animation-duration: 1s; }
    .fondoimagenes .menuima .enlavid {
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
      text-decoration: none;
      padding: 100px;
      top: 50px;
      position: relative; }
    .fondoimagenes .menuima .enlavid:hover {
      color: yellow; }
  .fondoimagenes #titulodeimagenes {
    color: white; }
  .fondoimagenes .descimagen {
    color: red; }
  .fondoimagenes #descdos {
    color: red;
    position: relative;
    left: 500px;
    bottom: 350px; }
  .fondoimagenes #roswell {
    position: relative;
    left: 500px;
    bottom: 350px; }
  .fondoimagenes .desctres {
    color: red;
    position: relative;
    left: 1000px;
    bottom: 700px; }
  .fondoimagenes .payaso {
    position: relative;
    left: 1000px;
    bottom: 700px; }
  .fondoimagenes .desccuatro {
    color: red;
    position: relative;
    bottom: 600px; }
  .fondoimagenes .mujercara {
    position: relative;
    bottom: 600px; }
  .fondoimagenes .desccinco {
    color: red;
    position: relative;
    bottom: 955px;
    left: 500px; }
  .fondoimagenes .demonio {
    position: relative;
    bottom: 954px;
    left: 500px; }
  .fondoimagenes .descseis {
    color: red;
    position: relative;
    bottom: 1310px;
    left: 1000px; }
  .fondoimagenes .sotano {
    position: relative;
    bottom: 1300px;
    left: 1000px; }
  .fondoimagenes .titulomasvistos {
    color: white;
    position: relative;
    left: 1500px;
    bottom: 2190px;
    font-size: 30px; }
  .fondoimagenes .masvistosuno {
    color: red;
    position: relative;
    left: 1490px;
    bottom: 2200px; }
  .fondoimagenes .top1 {
    position: relative;
    left: 1490px;
    bottom: 2200px; }
  .fondoimagenes .masvistodos {
    color: red;
    position: relative;
    left: 1490px;
    bottom: 2200px; }
  .fondoimagenes .arana {
    position: relative;
    left: 1490px;
    bottom: 2200px; }
  .fondoimagenes .masvistostres {
    color: red;
    position: relative;
    left: 1490px;
    bottom: 2200px; }
  .fondoimagenes .torre {
    position: relative;
    left: 1490px;
    bottom: 2200px; }

.siguientes {
  font-size: 30px;
  position: relative;
  bottom: 2500px;
  left: 500px;
  display: inline-block; }
  .siguientes .pagsiguiente {
    text-decoration: none;
    position: relative;
    right: 30px;
    color: red;
    line-height: 100px; }

.pieredesimagenes {
  text-align: center;
  position: relative;
  bottom: 2000px; }

/* fin imagenes /*
/* nosotros */
.nosotrosback {
  background-color: black;
  overflow-y: hidden;
  flex-wrap: wrap; }
  .nosotrosback .menunoso {
    position: relative;
    bottom: 16px;
    flex-wrap: wrap; }
    .nosotrosback .menunoso #menudenoso {
      list-style: none;
      display: flex;
      background-image: url(../multimedia/fondoestrellas.jpg);
      background-size: cover;
      flex-wrap: wrap; }
    .nosotrosback .menunoso .enlanos {
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
      text-decoration: none;
      padding: 100px;
      top: 50px;
      position: relative;
      flex-wrap: wrap; }
    .nosotrosback .menunoso .enlanos:hover {
      color: yellow; }
    .nosotrosback .menunoso .logonosotros {
      width: 150px;
      height: 150px;
      margin-right: auto;
      clip-path: circle();
      animation-name: animacionlogo;
      animation-duration: 1s;
      flex-wrap: wrap; }
  .nosotrosback .nosotrostitulo {
    flex-wrap: wrap;
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .nosotrosback .nosotrostitulo__texto {
    font-size: larger;
    color: green;
    text-align: center;
    width: 400px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: relative;
    left: 675px; }
  .nosotrosback .nosotrosfoot {
    flex-wrap: wrap;
    position: relative;
    top: 40px;
    right: 15px; }

/*fin nosotros*/
/*escribinos*/
#fondoescribinos {
  background-color: black;
  flex-wrap: wrap; }
  #fondoescribinos .escribimenu {
    position: relative;
    bottom: 16px; }
    #fondoescribinos .escribimenu #menuescri {
      flex-wrap: wrap;
      list-style: none;
      display: flex;
      background-image: url(../multimedia/fondoestrellas.jpg);
      background-size: cover; }
    #fondoescribinos .escribimenu .logoescribinos {
      width: 150px;
      height: 150px;
      margin-right: auto;
      clip-path: circle();
      animation-name: animacionlogo;
      animation-duration: 1s; }
    #fondoescribinos .escribimenu .enlaescri {
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
      text-decoration: none;
      padding: 100px;
      top: 50px;
      position: relative; }
    #fondoescribinos .escribimenu .enlaescri:hover {
      color: yellow; }
  #fondoescribinos #tituloesc {
    color: red; }
  #fondoescribinos #envianos {
    color: green;
    font-size: large; }
  #fondoescribinos .formulario {
    position: relative;
    top: 100px;
    width: 1px;
    height: 500px;
    background-color: black;
    transform: translate(-50%, -50%); }
  #fondoescribinos .miformulario {
    margin: 35px; }
  #fondoescribinos .miinput {
    position: relative;
    top: 170px;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none; }
  #fondoescribinos .mensaje {
    position: relative;
    top: 190px;
    height: 150px;
    padding-top: 10px;
    width: 410px; }
  #fondoescribinos .boton {
    position: relative;
    top: 190px;
    left: 365px;
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: green;
    font-size: 12px;
    border: none;
    cursor: pointer; }
  #fondoescribinos .piedeescribinos {
    position: relative;
    bottom: 30px;
    right: 20px; }

/*fin escribinos*/
@media (max-width: 500px) {
  /*index*/
  .logo {
    display: none; }
  .menu__listasecciones {
    padding-bottom: 100px;
    padding-right: 500px;
    position: relative;
    right: 30px; }
  .secciondevideos__titulo {
    display: none; }
  .titulo__nombrevideo {
    display: none; }
  #descripcionDelvideo {
    display: none; }
  /*fin index*/
  /*cuentos*/
  .logocuentos {
    display: none; }
  .botonera {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 500px;
    position: relative;
    right: 30px; }
  #titulocuentos {
    display: none; }
  .menucuentos a {
    flex-direction: column;
    text-align: start; }
  .cuento {
    padding: 0px;
    margin: 0px; } }
